<!DOCTYPE html>

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="André Pinheiro(@pluralism)" />
    <meta name="description" content="Página do Círculo António Lago Cerqueira" />
    <meta name="language" content="PT" />
    <meta name="category" content="cultura,história" />
    <meta name="keywords" content="história,portugal,porto,amarante,cultura" />

    <title>Círculo António Lago Cerqueira</title>

    <!-- Load web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/public/prod/pace/pace-flash.css" />
    <script data-pace-options='{ "restartOnPushState": false }' src="/public/prod/pace/pace.min.js"></script>
    <!-- Main app CSS -->
    <link rel="stylesheet" type="text/css" href="/public/prod/application.css" />
  </head>


  <body data-spy="scroll" data-target=".navbar" data-offset="0">
    <div id="app-container" role="main"></div>
    <script src="/public/prod/application.js"></script>
  </body>
</html>
